/target
.env
private.key
wallet.json
wallet_address.png
wallet_qr.png
contacts.json
exported.key 
wallet_address.png

wallet*.json
wallet*.png
*.key
*copy*
*Copy*
*copied*
*Copied*

rsk-rust-cli.json
mined.json
here
exported.key
re.json
phonebook.json

*.csv

record-demo.sh
/tui
*.cast

*.md